<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>About Me</title>

<link rel="stylesheet" href="css/styles.css">
</head>

    <body>
        <div class="main">
            <h3>About Me<h3>
            <hr>
            <p>        
                My name is Chih Wen Wang, and I come from Taiwan. When I was a university student in Taiwan, I studied information technology and management. <br>
                However, I focused on learning how to build software and let it work on a computer or the Internet. While graduating, I became a programmer at a technology company in my country and worked for almost ten years. <br>
                However, my life was changed because I came to the United States with my wife. I have two goals now. One is that I have to improve my English ability. So, I go to study the ESL Program here. Another goal is that I yearn to earn an IT Program degree or certificate in the United States because I do not have any degree in the United States.
            </p>
            <br>
            <br>
            <a href="/">Go back to home page.</a>
            <br><br>
        </div>     
    </body>
</html>