<link rel="stylesheet" href="css/styles.css?2">

<div class="main">
    <h2>Home Page<h2>
    <h4>
        
        <a href="/import">Import Members</a>&nbsp&nbsp&nbsp 
        <a href="/about">About Me</a>&nbsp&nbsp&nbsp        
    </h4>
    <hr>
    <h4>  
        <a href="/api/members">API-Get All Members</a>&nbsp&nbsp&nbsp 
        <a href="/api/member?name=Jayson">API-Get a Member</a>&nbsp&nbsp&nbsp 
        <a href="/api/add?id=6&name=Frank&age=66&gender=male&state=OC">API-Add or Update a Member</a>&nbsp&nbsp&nbsp 
        <a href="/api/delete?id=6&name=Frank">API-Delete a Member</a>&nbsp&nbsp&nbsp 
    </h4>
    <hr>
    <h2>My Members</h2>

    <% users.forEach(function(user) { %>    
        <li><a href="/detail?name=<%= user.name %>"><%= user.name %></a>   &nbsp&nbsp 
            <a href="/delete?id=<%= user.id %>&name=<%= user.name %>"><img src="images/delete.ico" alt="delete"></a> 
        </li> 
    <% }); %>
    <br><br>
</div>
