<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Message</title>

<link rel="stylesheet" href="css/styles.css">
</head>

    <body>
        <div class="main">
            <h3>Message<h3>
            <hr>
            <p>     
                <b>Status:</b> <%= message.status %> <br><br>  
                <b>Message:</b> <%= message.message %> <br>                               
            </p>
            <br>
            <br>
            <a href="/">Go back to home page.</a>
            <br><br>
        </div>     
    </body>
</html>