html {
    background-color: lightgray;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

div.main {               
    width:80%;
    margin: auto;
    /* background-color:gainsboro; */
    background-color:white;
}

p {
    margin: 1em 1em;
}


h2, h3 {    
    font-weight: normal;   
    padding-top: 1em;
    margin-left: 1em;
    line-height: 1em;
}
h4 {
    font-weight: normal; 
    margin-left: 1em;
}

a {
    color:darkcyan;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: darkcyan;
    text-decoration: none;
}


li{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    list-style: none;   
}